body{
    margin: 0;
    padding: 0;
    background: #eee;
    display: flex;
    justify-content: center;
}
.container{
    background: #fff;
    margin-top: 15px;
    border-radius: 4px;
    border: 1px solid rgb(223, 223, 223);
    padding: 9px;
    width: 91%;
    max-width: 693px;
}
.container .h{
    margin: 5px;
    font-size: 36px;
    background: linear-gradient(159deg,rgb(65, 188, 225),blue);
    width: max-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container p{
    margin: 5px;
    color: dimgray;
    font-size: 18px;
}
.container p b{
    color: teal;
}
.container hr{
    width: 50%;
}
.container h3{
    margin: 9px;
    color: teal;
    font-size: 23px;
}
ul{
    list-style:decimal;
    background: transparent;
}
ul li{
    background: transparent;
    padding: 3px 9px;
    font-size: 17px;
    color: dimgray;
    margin: 1px;
}
ul li i{
    margin: 3px;
    color: royalblue;
}
ul li b{
    color: royalblue;
}
ul li a{
    color: royalblue;
}
.container h4{
    margin: 5px auto;
    padding: 9px;
    text-align: center;
    background: rgb(255, 106, 106);
    border-radius: 5px;
    color: black;
    width: 91%;
}
.container h4 b{
    color: rgb(58, 58, 58);
}

@media(max-width:555px){
    .container .h{
        font-size: 8vw;
    }
    .container p{
        font-size: 16px;
    }
    .container h3{
        font-size: 19px;
    }
    ul li{
        font-size: 16px;
    }
    .container h4{
        width: 95%;
        font-size: 14px;
    }
}